body{
    background-color: rgb(64, 60, 94);
    
}

h1 {
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
}
.container-wthr {
    display: flex;
    flex-wrap: wrap;
}
.forecast-box {
    border: 1px solid #9a9494;
    border-radius: 6px;
    margin: 12px;
    padding: 8px;
    width: 300px;
    text-align: center;
    background-color: rgb(86, 10, 239);
    color:azure
}
#container-h {
    background-color: rgb(7, 175, 253);
    border: 2px solid rgb(22, 2, 2);
    padding: 10px;
    margin-top: 20px;
    float: left;
}
/* Style for individual history items */
.history-item {
    padding: 5px;
    cursor: pointer;
    text-size-adjust: 12px;
}
.history-item:hover {
    background-color: #928787;
}